@function position-reverse($position) {
   @if $position == top{
    $position: bottom;
  }
  @else if $position == right {
    $position: left;
  }
  @else if $position == bottom {
    $position: top;
  }
  @else if $position == left {
    $position: right;
  }
  @return $position;
}
