// @include flag(top, 1rem, 1rem, grey);

// $position(string): top, right, bottom, left
// $width(unit)
// $height(unit)
// $color(color)
// $shadow(multiple value): x-pos y-pos blur color
@import 'arrow';
@mixin flag($position, $width, $height, $color, $shadow: 1px 1px 1px hsla(0, 0%, 0%, .25)) {
  $position: position-reverse($position);
  $border-height: ($width / 4);

  position: relative;
  display: block;
  width: $width;
  height: $height;
  background-color: $color;
  filter: drop-shadow($shadow);
  @include arrow($position, $width, $border-height, $color);
}
